.section_contact_us {
    width: 100%;
    height: auto;
}

.contact_us_link_container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-decoration: none;
    padding: 30px 60px;
    border-radius: 16px;
    position: relative;
    background: var(--color_white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.05) 0px 8px 4px, rgba(0, 0, 0, 0.05) 0px 16px 8px, rgba(0, 0, 0, 0.05) 0px 32px 16px;
    transform: translateY(50%);
    transition: ease-out .2s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_us_title {
    width: auto;
    height: auto;
    color: var(--color_green);
    z-index: 100;
}

.contact_us_btn {
    width: auto;
    height: auto;
    border: none;
    background: var(--color_green);
    border-radius: 10px;
    padding: 14px 30px;
    z-index: 100;
    color: var(--color_white);
    cursor: pointer;
}

@media(hover:hover) {
    .contact_us_link_container:hover {
        transform: translateY(45%);
    }
}

@media screen and (max-width: 1010px) {
    .contact_us_link_container {
        flex-direction: column;
        gap: 20px;
    }
}