.btn_header_opened, .btn_header_closed {
    width: 48px;
    height: 30px;
    position: fixed;
    cursor: pointer;

    display: none;

    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.btn_header_opened {
    top: 20px;
    left: 5%;
    z-index: 200;
}

.btn_header_closed {
    top: 64px;
    right: 28px;
    z-index: 400;
}

.btn_header_opened > .btn_menu_line {
    height: 2px;
    background: var(--color_white);
    transition: ease .4s;
}

.btn_header_opened > .btn_menu_line:first-child {
    width: 75%;
}

.btn_header_opened > .btn_menu_line:nth-child(2) {
    width: 50%;
}

.btn_header_opened > .btn_menu_line:last-child {
    width: 100%;
}

.btn_header_closed > .btn_menu_line {
    height: 2px;
    background: var(--color_dark_blue);
    transition: ease .4s;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.btn_header_closed > .btn_menu_line:first-child {
    width: 100%;
    transform: rotate(45deg);
}

.btn_header_closed > .btn_menu_line:nth-child(2) {
    width: 100%;
    opacity: 0;
}

.btn_header_closed > .btn_menu_line:last-child {
    width: 100%;
    transform: rotate(-45deg);
}

.header {
    width: 90%;
    height: 80px;
    background: var(--color_white);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 0 28px;
    z-index: 300;
    transition: ease .4s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.scroll_up {
    transform: translateX(-50%) translateY(0);
}

.header.scroll_down {
    transform: translateX(-50%) translateY(calc(-100% - 20px));
}

.logo_container {
    width: 190px;
    height: 70%;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_icon {
    width: auto;
    height: 100%;
    background: var(--color_dark_blue);
    padding: 6px;
    border-radius: 8px;
}

.logo_text {
    width: auto;
    height: auto;
    color: var(--color_green);
}

.nav_bar {
    width: auto;
    height: auto;
}

.menu {
    width: auto;
    height: auto;
    list-style: none;

    display: flex;
    gap: 40px;
}

.menu_item {
    width: auto;
    height: auto;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item_text {
    color: var(--color_green);
    opacity: .8;
    transition: ease .4s;
    font-weight: bold;
}

.menu_item_text.active {
    opacity: 1;
}

.menu_item_arrow_icon {
    width: auto;
    height: 24px;
    transition: ease .4s;
    opacity: .8;
}

.menu_item_arrow_icon.active {
    opacity: 1;
    transform: rotateZ(-180deg);
}

.menu_accordion_about_us, .menu_accordion_to_last, .menu_accordion_tools {
    cursor: default;
    overflow: auto;
    height: 0;
    transition: ease .4s;

    display: none;
    align-items: flex-start;
}

.menu_accordion_about_us.display {
    display: none;
}

.menu_accordion_about_us.active {
    height: 0;
}

.menu_accordion_to_last.display {
    display: none;
}

.menu_accordion_to_last.active {
    height: 0;
}

.menu_accordion_tools.display {
    display: none;
}

.menu_accordion_tools.active {
    height: 0;
}

.menu_accordion_about_us::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

.menu_accordion_about_us::-webkit-scrollbar-thumb {
    background: var(--color_green);
    border-radius: 10px;
}

.menu_accordion_to_last::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

.menu_accordion_to_last::-webkit-scrollbar-thumb {
    background: var(--color_green);
    border-radius: 10px;
}

.menu_accordion_tools::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

.menu_accordion_tools::-webkit-scrollbar-thumb {
    background: var(--color_green);
    border-radius: 10px;
}

.menu_about_us, .menu_to_last, .menu_tools {
    width: 100%;
    height: auto;
    position: relative;
    transition: ease-out .2s;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.menu_about_us_title, .menu_to_last_title, .menu_tools_title {
    color: var(--color_dark_blue);
    font-weight: bold;
}

.menu_tools_link > .menu_tools_title {
    color: var(--color_green);
    font-family: var(--font_text);
    font-size: 1.1rem;
}

.menu_about_us_link, .menu_tools_link {
    width: 100%;
    height: auto;
    color: var(--color_green);
    text-decoration: none;
    transition: ease-out .2s;
    border-radius: 4px;
    padding: 2px;
}

.contact_us_btn {
    width: 190px;
    height: 50px;
}

.header_about_us, .header_to_last, .header_tools {
    width: 100%;
    height: 420%;
    position: fixed;
    bottom: -440%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color_white);
    border-radius: 20px;
    padding: 22px 28px;
    opacity: 0;
    transition: ease-out .2s;
    visibility: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header_about_us.active {
    opacity: 1;
    visibility: visible;
}

.header_to_last.active {
    opacity: 1;
    visibility: visible;
}

.header_tools.active {
    opacity: 1;
    visibility: visible;
}

.titles_about_us, .titles_to_last {
    width: 100%;
    height: auto;
    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_item {
    width: calc(100% / 3);
    color: var(--color_dark_blue);
}

.header_about_us_list, .header_to_last_list, .header_tools_list {
    width: calc(100% / 3);
    height: calc(100% - 28px);
    list-style: none;
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.header_about_us_item, .header_to_last_item, .header_tools_item {
    width: 100%;
    height: auto;
}

.header_about_us_link, .header_to_last_link, .header_tools_link {
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: 12px 10px;
    border-radius: 10px;
    transition: ease-out .2s;

    display: flex;
    flex-direction: column;
}

.header_about_us_item_title, .header_to_last_item_title, .header_tools_item_title {
    width: auto;
    height: auto;
    color: var(--color_green);
}

.header_about_us_item_description, .header_to_last_item_description {
    color: var(--color_dark_blue);
    opacity: .8;
}

.coming_soon {
    margin: auto;
}

@media(hover:hover) {

    .btn_header_opened:hover > .btn_menu_line {
        width: 100%;
    }

    .menu_item:hover .menu_item_text {
        opacity: 1;
    }

    .menu_item:hover .menu_item_arrow_icon {
        opacity: 1;
    }

    .menu_about_us_link:hover {
        background: var(--color_light_blue_opacity);
    }

    .menu_tools_link:hover {
        background: var(--color_light_blue_opacity);
    }

    .header_about_us_link:hover {
        background: var(--color_light_blue_opacity);
    }

    .header_to_last_link:hover {
        background: var(--color_light_blue_opacity);
    }

    .header_tools_link:hover {
        background: var(--color_light_blue_opacity);
    }

    .contact_us_btn:hover {
        background-position: bottom;
    }
}

@media screen and (max-width: 1224px) {

    .btn_header_opened {
        display: flex;
    }

    .btn_header_closed {
        display: block;
    }

    .header {
        width: 40%;
        min-width: 320px;
        min-height: 100dvh;
        top: 0;
        left: -100%;
        transform: translateX(0);
        border-radius: 0;
        padding: 56px 28px;
        overflow: auto;

        align-items: flex-start;
        flex-direction: column;
    }

    .header.scroll_up {
        transform: translateX(0) translateY(0);
    }
    
    .header.scroll_down {
        transform: translateX(0) translateY(0);
    }

    .header.active {
        left: 0;
    }

    .menu_accordion_about_us {    
        display: none;
    }

    .menu_accordion_about_us.display {
        display: flex;
    }
    
    .menu_accordion_about_us.active {
        height: 130px;
    }

    .menu_accordion_to_last {    
        display: none;
    }

    .menu_accordion_to_last.display {
        display: flex;
    }
    
    .menu_accordion_to_last.active {
        height: 24px;
    }

    .menu_accordion_tools.display {
        display: flex;
    }
    
    .menu_accordion_tools.active {
        height: 70px;
    }

    .header_about_us, .header_to_last, .header_tools {
        display: none;
    }

    .logo_container {
        width: auto;
        height: auto;
    }

    .logo_icon {
        display: none;
    }

    .logo_text {
        font-size: 2.4rem;
    }

    .nav_bar {
        width: 100%;
        height: 70%;
        overflow: auto;
        padding-right: 10px;
    }

    .nav_bar::-webkit-scrollbar {
        width: 4px;
        background: transparent;
    }

    .nav_bar::-webkit-scrollbar-thumb {
        width: 100%;
        background: var(--color_green);
        border-radius: 10px;
    }

    .menu {
        width: 100%;
        height: auto;

        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .menu_item {
        width: 100%;
        justify-content: space-between;
        gap: 40px;
        position: relative;
    }

    .menu_item_arrow_icon.active {
        transform: rotate(0);
    }

    .header > .contact_us_btn {
        width: 100%;
        display: inline-block;
    }
}