.main {
    width: 100%;
    height: auto;
}

.section_banner {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.title {
    color: var(--color_white);
    padding: 8px 20px;
    border-radius: 10px;
    z-index: 100;
    text-align: center;
}

.description {
    width: 80%;
    color: var(--color_white);
    text-align: center;
    z-index: 100;
}

.banner_background_item {
    position: absolute;
    width: 60%;
    height: 50%;
    background: var(--color_green);
    top: 50%;
    transform: translateY(-50%);
    filter: blur(80px);
}

.banner_background_item_left {
    transform: translateY(0%);
    left: -25%;
    animation: item_left 3.2s linear 0s infinite alternate;
}

.banner_background_item_right {
    right: -25%;
    transform: translateY(-100%);
    animation: item_right 3.2s linear 0s infinite alternate;
}

@keyframes item_left {
    from {
        top: 30%;
        left: -25%;
    }

    to {
        top: 50%;
        left: -15%;
    }
}

@keyframes item_right {
    from {
        top: 50%;
        right: -25%;
    }

    to {
        top: 50%;
        right: -15%;
    }
}

.section_mision_vision {
    width: 100%;
    height: auto;
    padding: 120px 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mision_vision_item {
    width: 50%;
    height: 100%;
}

.mision_vision_item:first-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.mision_vision_tag {
    color: transparent;
    background: linear-gradient(-45deg, var(--color_light_blue_opacity), var(--color_white), var(--color_light_blue_opacity));
    -webkit-background-clip: text;
    z-index: 100;
}

.mision_vision_title {
    color: var(--color_white);
    z-index: 100;
}

.mision_vision_text {
    color: var(--color_white);
    z-index: 100;
}

.mision_vision_text > strong {
    font-size: 1.2rem;
}

.mision_vision_stats {
    width: 100%;
    height: 100%;
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.mision_vision_stat {
    width: 40%;
    height: 30%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.mision_vision_stat_title {
    color: transparent;
    background: linear-gradient(-45deg, var(--color_light_blue_opacity), var(--color_white), var(--color_light_blue_opacity));
    -webkit-background-clip: text;
}

.mision_vision_stat_text {
    color: var(--color_white);
}

@media screen and (max-width: 1124px) {
    .section_mision_vision {
        flex-direction: column;
        gap: 40px;
    }

    .mision_vision_item {
        width: 100%;
    }

    .mision_vision_item:first-child {
        align-items: center;
    }

    .mision_vision_stat {
        width: auto;
        height: auto;
    }
}