:root {
    --color_orange: #780116;
    --color_orange_opacity: #78011644;
    --color_white: #FFFFFF;
    --color_light_grey: #E6E8E6;
    --color_black: #191919;
    --color_light_green: #25D366;
    --roboto_bold: 'roboto_bold';
    --roboto_medium: 'roboto_medium';
    --roboto_regular: 'roboto_regular';
}

@font-face {
    font-family: 'roboto_bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'roboto_medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'roboto_regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: var(--color_white);
}

body::-webkit-scrollbar {
    background: var(--color_black);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color_orange);
    border-radius: 10px;
}

h1,h2,h3 {
    font-family: var(--roboto_bold);

}

p,span, li, input, label, div {
    font-family: var(--roboto_regular);
    letter-spacing: .5px;
}

a {
    font-family: var(--roboto_medium);
}