:root {
    --color_light_blue: #00d4d1;
    --color_light_blue_opacity: #00d4d133;
    --color_dark_blue: #121a26;
    --color_green: #138585;
    --color_white: #f4f4f4;
    --color_white_opacity: #f4f4f488;
    --font_title: "Montserrat", sans-serif;
    --font_text: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background: var(--color_dark_blue);
    overflow-x: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--color_dark_blue);
    opacity: 0;
    z-index: -100;
    transition: ease-out .4s;
}

.overlay.active {
    opacity: .7;
    z-index: 200;
}

.main {
    width: 100%;
    height: auto;
}

h1,h2,h3,h4 {
    font-family: var(--font_title);
}

h1, .title_word {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

a,p,li,span,input,label,button {
    font-family: var(--font_text);
    font-size: 1.1rem;
}

a[role="button"] {
    width: 190px;
    height: 50px;
    background: var(--color_green);
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

a[role="button"] > span {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    color: var(--color_white);
    letter-spacing: 1.2px;
    transition: ease .4s;
}

a[role="button"] > img {
    width: auto;
    height: 70%;
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    transition: ease .4s;
}

input[type="submit"] {
    background: var(--color_green);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 0;
    color: var(--color_white);
    cursor: pointer;
}

@media(hover:hover) {
    a[role="button"]:hover > span {
        top: -50%;
    }

    a[role="button"]:hover > img {
        top: 50%;
    }
}

@media screen and (max-width: 768px) {
    h1, .title_word {
        font-size: 2.6rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.1rem;
    }
    
    a,p,li,span,input,label,button {
        font-size: 1.06rem;
    }
}


@media screen and (max-width: 320px) {
    h1, .title_word {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.2rem;
    }
    
    h4 {
        font-size: 1.15rem;
    }

    h5 {
        font-size: 1.08rem;
    }
    
    
    a,p,li,span,input,label,button {
        font-size: 1.04rem;
    }
}
