.main {
    width: 100%;
    height: auto;
}

.section_banner {
    width: 100%;
    height: 100dvh;
    padding-top: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_item {
    width: 50%;
    height: 100%;
}

.banner_item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.banner_item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    color: var(--color_white);
    opacity: .8;
}

.title {
    width: 90%;
    color: var(--color_light_blue);
    text-align: center;
    margin-bottom: 80px;
}

.contact_form {
    width: 80%;
    height: 82%;
    background: var(--color_white);
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0 4px 8px var(--color_white_opacity);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact_form_title {
    width: 100%;
    text-align: center;
    color: var(--color_dark_blue);
}

.contact_form_item {
    width: 48%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.contact_form_label {
    color: var(--color_dark_blue);
}

.contact_form_input {
    width: 100%;
    height: auto;
    padding: 6px;
    color: var(--color_dark_blue);
    outline: none;
    border-radius: 6px;
    border: none;
    outline: 1px solid var(--color_dark_blue);
}

.contact_submit {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .section_banner {
        height: auto;

        flex-direction: column;
    }

    .banner_item:first-child, .banner_item:last-child {
        width: 100%;
    }

    .contact_form {
        row-gap: 22px;
    }
}