.btn_menu_container {
    width: 50px;
    height: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 600;

    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.menu_line {
    width: 100%;
    height: 4px;
    background: var(--color_light_green);
    border-radius: 10px;
    transition: ease-in all .2s;
    position: relative;
}

.menu_line:nth-child(2).active {
    width: 130%;
    margin-left: 30%;
}

.menu_line:nth-child(2)::before {
    content: '';
    width: 30%;
    height: 4px;
    background: var(--color_light_green);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    transition: ease-in all .2s;
}

.menu_line:nth-child(2).active::before {
    transform: rotateZ(45deg);
    top: -6px;
    right: -2px;
}

.menu_line:nth-child(2)::after {
    content: '';
    width: 30%;
    height: 4px;
    background: var(--color_light_green);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    transition: ease-in all .2s;
}

.menu_line:nth-child(2).active::after {
    transform: rotateZ(-45deg);
    bottom: -6px;
    right: -2px;
}

.whatsapp_btn {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 14px;
    right: 14px;
    z-index: 400;
    filter: invert(100%);
    background: var(--color_white);
    border-radius: 100px;
    border: 2px solid var(--color_white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp_btn_icon {
    width: 58px;
    height: 58px;
}

.header {
    width: calc(100% - 300px);
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    background: var(--color_orange);
    border-radius: 16px;
    padding: 0 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: linear all .2s;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.scroll_down {
    transform: translateX(-50%) translateY(calc(-100% - 20px));
}

.header.scroll_up {
    transform: translateX(-50%) translateY(0);
}

.header.active {
    left: 0;
    transform: translateX(0);
}

.logo_container {
    width: auto;
    height: 80%;
}

.logo_icon {
    width: 100%;
    height: 100%;
}

.menu_container {
    width: auto;
    height: auto;
}

.menu {
    width: auto;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu_item {
    width: auto;
    height: auto;
}

.menu_link {
    width: auto;
    height: auto;
    color: var(--color_white);
    text-decoration: none;
    font-size: 1.1rem;
}

@keyframes menu_link {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

.main {
    width: 100%;
    height: auto;
    position: relative;
}

.section_banner {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 150px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
}

.title {
    width: 50%;
    height: auto;
    font-size: 2.6rem;
    margin-top: 2rem;
}

.title span {
    font-size: 2.6rem;
    color: var(--color_orange);
}

.description {
    width: 50%;
    height: auto;
    font-size: 1.125rem;
}

.banner_btn_container {
    width: 170px;
    height: 50px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;
}

.banner_btn_item:first-child,
.banner_btn_item:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: linear all .2s;
    font-size: 1.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_btn_item:first-child {
    background: var(--color_orange);
    color: var(--color_white);
}

.banner_btn_item:last-child {
    top: 100%;
    background: var(--color_light_green);
}

.banner_btn_icon {
    width: 38px;
    height: 38px;
    filter: invert(100%);
}

.scroll_down_btn {
    position: relative;
    top: 80px;
    color: var(--color_black);
    font-size: 1.125rem;
    transition: linear all .2s;
}

.banner_slider_container {
    width: 640px;
    height: 640px;
    position: absolute;
    top: -20%;
    left: 60%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1000px;
    overflow: hidden;
}

.slider {
    width: 400%;
    height: 100%;
    list-style: none;
    position: relative;
    transition: ease-in all 1s;
}

.slider_item {
    width: calc(100% / 4);
    height: 100%;
    border-radius: 1000px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.slider_item:first-child {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.slider_item:nth-child(2) {
    top: 150%;
    left: 50%;
    transform: translate(-50%, 0) rotateZ(-90deg);
}

.slider_item:nth-child(3) {
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotateZ(-180deg);
}

.slider_item:last-child {
    top: -150%;
    left: 50%;
    transform: translate(-50%, 0) rotateZ(-270deg);
}

.slider_icon {
    width: 300px;
    height: auto;
    margin-top: 10%;
    margin-right: 5%;
}

.slider_title {
    width: 50%;
    margin-right: 5%;
    text-align: center;
    font-size: 2rem;
}

.background_space {
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.background_img {
    width: 100%;
    height: 360%;
    object-fit: cover;
    position: absolute;
    opacity: .8;
    filter: brightness(50%);
}

.section_works {
    width: 100%;
    height: 800px;
    position: relative;
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider_works_container {
    width: 90%;
    height: 100%;
    margin: 60px 0;
    padding: 10px 0;
    position: relative;
    overflow: auto;

    display: flex;
}

.slider_works_container::-webkit-scrollbar {
    background: transparent;
    height: 8px;
}

.slider_works_container::-webkit-scrollbar-thumb {
    background: var(--color_orange);
    border-radius: 100px;
}

.slider_works {
    width: auto;
    height: 100%;
    list-style: none;
    transition: linear all .2s;
    padding: 0 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.work {
    width: 380px;
    height: 100%;
    z-index: 100;
}

.work_link {
    border-radius: 10px;
    transition: linear all .2s;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.work_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

.work_title {
    height: auto;
    color: var(--color_white);
    font-size: 2.4rem;
}

.work_arrow {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    transition: linear all .2s;
    padding: 4px;
    box-sizing: content-box;
    filter: invert(100%);
}

.work_type {
    width: auto;
    height: auto;
    color: var(--color_white);
    background: var(--color_white_opacity);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 1.125rem;
    font-weight: bold;
}

.works_background {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.slider_works_arrows_container {
    width: 440px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider_works_arrow {
    width: 44px;
    height: 44px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 0;
}

.slider_works_arrow_left {
    transform: rotateZ(180deg);
    left: 0;
    display: none;
}

.slider_works_arrow_right {
    right: 0;
}

.section_how_we_work {
    width: 100%;
    height: 800vh;
    background: var(--color_orange);
    position: relative;
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.how_we_work_sticky {
    width: 40%;
    height: auto;
    position: sticky;
    top: 25%;
}

.how_we_work_step_img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.how_we_work_steps {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.how_we_work_step {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.how_we_work_step_container {
    width: 100%;
    height: 100%;
}

.how_we_work_step_sticky {
    width: 100%;
    height: 300px;
    position: sticky;
    top: 25%;
    border-radius: 10px;
    background: var(--color_white);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.how_we_work_num {
    color: var(--color_white);
    background: var(--color_light_green);
    font-size: 2.6rem;
    padding: 10px 24px;
    border-radius: 100px;
}

.how_we_work_title {
    font-size: 2.2rem;
    color: var(--color_orange);
    text-align: center;
}

.how_we_work_description {
    width: 90%;
    text-align: center;
    color: var(--color_black);
    font-family: var(--roboto_bold);
}

.section_services {
    width: 100%;
    height: auto;
    background: var(--color_orange);
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services_title {
    color: var(--color_white);
    font-size: 2.2rem;
}

.services {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 60px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.service {
    width: 300px;
    height: 400px;
    background: var(--color_white);
    border-radius: 16px;
    padding: 10px;
}

.service_inner {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--color_orange_opacity);
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.service_price_container {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color_orange);
    border-radius: 100px 0 0 100px;
    padding: 16px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.service_price {
    color: var(--color_white);
    font-size: 1.25rem;
}

.service_title {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 40px;
    color: var(--color_orange);
}

.service_desc {
    width: 100%;
    color: var(--color_black);
    font-size: 1.05rem;
}

.service_content {
    width: 100%;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.content {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.content_text {
    color: var(--color_black);
    font-family: var(--roboto_bold);
}

.content_check {
    width: 24px;
    height: 24px;
    background: #da2c99;
    border-radius: 100px;
    padding: 2px;
    filter: invert(100%);
}

.service_btn {
    width: 100%;
    height: auto;
    padding: 12px 0;
    border-radius: 6px;
    text-align: center;
    color: var(--color_white);
    text-decoration: none;
    position: relative;
    background: var(--color_black);
    transition: linear all .2s;
}

.section_about_us {
    width: 100%;
    height: auto;
    position: relative;
    background: linear-gradient(-22deg, var(--color_white) 50%, var(--color_orange) 50%);
    padding: 25px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_us_title {
    color: var(--color_white);
    font-size: 2.2rem;
}

.about_us_card {
    width: 50%;
    max-width: 700px;
    min-width: 370px;
    height: auto;
    background: var(--color_black);
    padding: 30px;
    clip-path: polygon(50px 0%, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0% 50px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 60px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.about_us_card_logo {
    width: 72px;
    height: 72px;
}

.about_us_card_title {
    color: var(--color_white);
    font-size: 1.6rem;
}

.about_us_card_text {
    color: var(--color_white);
    text-align: center;
    font-size: 1.125rem;
    padding: 0 16px;
}

.about_us_card_btn {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    transition: linear all .2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us_svg {
    transition: linear all .2s;
}

.about_us_svg path {
    fill: white;
}

.about_us_svg_text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition: linear all .2s;
    text-align: center;
}

.about_us_card_btn:hover {
    width: 110px;
    transition: linear all .2s;
    border-radius: 30px;
}

.about_us_card_btn:hover .about_us_svg_text {
    opacity: 1;
}

.about_us_card_btn:hover .about_us_svg {
    opacity: 0;
}

.about_us_background {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.section_reviews {
    width: 100%;
    height: auto;
    position: relative;
    padding: 25px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.reviews_title {
    font-size: 2.2rem;
    color: var(--color_orange);
    text-align: center;
}

.reviews_container {
    width: 320px;
    height: 260px;
    margin: 60px 0;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: space-between;

}

.slider_reviews {
    width: 300%;
    height: 100%;
    list-style: none;
    transition: linear all .2s;
    padding: 0 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.review {
    width: 320px;
    height: 240px;
    background: var(--color_white);
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid var(--color_black);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header_review {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_name_container {
    width: auto;
    height: auto;
}

.review_name {
    font-size: 1.4rem;
    color: var(--color_orange);
}

.review_company {
    font-size: 1.125rem;
}

.review_icon {
    width: 48px;
    height: 48px;
}

.review_comment {
    width: 100%;
    height: 40%;
    overflow: auto;
}

.slider_reviews_arrows_container {
    width: 440px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider_reviews_arrow {
    width: 48px;
    height: 48px;
    cursor: pointer;

    position: absolute;
    top: 0;
}

.slider_reviews_arrow_left {
    transform: rotateZ(180deg);
    left: 0;
    display: none;
}

.slider_reviews_arrow_right {
    right: 0;
}

.reviews_background {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    object-fit: cover;
}

.section_tech {
    width: 100%;
    height: auto;
    background: var(--color_orange);
    padding: 100px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.tech_title {
    width: 100%;
    text-align: center;
    color: var(--color_white);
    font-size: 2.2rem;
}

.tech_card {
    width: 280px;
    height: 160px;
    background: var(--color_white);
    border-radius: 10px;
    padding: 30px;
    transition: linear all .2s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.tech_card_title,
.tech_card_text {
    color: var(--color_black);
    transition: linear all .2s;
    text-align: center;
}

.ready {
    width: 80%;
    height: auto;
    padding: 30px 60px;
    background: var(--color_white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ready_title {
    font-size: 1.8rem;
    color: var(--color_orange);
}

.ready_btn_container {
    width: 170px;
    height: 50px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    text-decoration: none;
}

.ready_btn_item:first-child,
.ready_btn_item:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: linear all .2s;
    font-size: 1.125rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ready_btn_item:first-child {
    background: var(--color_orange);
    color: var(--color_white);
}

.ready_btn_item:last-child {
    top: 100%;
    background: var(--color_light_green);
}

.ready_btn_icon {
    width: 38px;
    height: 38px;
    filter: invert(100%);
}

.footer {
    width: 100%;
    height: auto;
    padding: 200px 0 100px 0;
    background: var(--color_white);

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 30px;
}

.footer_item {
    min-width: 300px;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer_item_title {
    color: var(--color_orange);
    font-size: 1.4rem;
}

.footer_list {
    width: auto;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer_list_item {
    width: auto;
    height: auto;
}

.footer_list_item_link {
    width: auto;
    height: auto;
    color: var(--color_orange);
    text-decoration: none;
    opacity: .8;
    font-size: 1.125rem;
    transition: linear all .2s;
}

.footer_social_network_icon {
    width: 38px;
    height: 38px;
}

@media(hover:hover) {
    .btn_menu_container:hover .menu_line:nth-child(2) {
        width: 130%;
        margin-left: 30%;
    }

    .btn_menu_container:hover .menu_line:nth-child(2)::before {
        transform: rotateZ(45deg);
        top: -6px;
        right: -2px;
    }

    .btn_menu_container:hover .menu_line:nth-child(2)::after {
        transform: rotateZ(-45deg);
        bottom: -6px;
        right: -2px;
    }

    .menu_item:hover {
        animation: menu_link .4s linear 0s 1 normal;
    }

    .banner_btn_container:hover .banner_btn_item:first-child {
        top: -100%;
    }

    .banner_btn_container:hover .banner_btn_item:last-child {
        top: 0;
    }

    .scroll_down_btn:hover {
        color: var(--color_orange);
    }

    .service_btn:hover {
        background: var(--color_light_green);
    }

    .about_us_card_btn:hover {
        filter: invert(0);
    }

    .tech_card:hover {
        background: var(--color_black);
    }

    .tech_card:hover .tech_card_title {
        color: var(--color_light_grey);
    }

    .tech_card:hover .tech_card_text {
        color: var(--color_white);
    }

    .ready_btn_container:hover .ready_btn_item:first-child {
        top: -100%;
    }

    .ready_btn_container:hover .ready_btn_item:last-child {
        top: 0;
    }

    .footer_list_item_link:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .banner_slider_container {
        display: none;
    }

    .title,
    .description {
        width: 100%;
    }
}

@media screen and (max-width: 1140px) {

    .btn_menu_container {
        display: flex;
    }

    .header {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        border-radius: 0;

        justify-content: center;
        flex-direction: column;
    }

    .header.scroll_down {
        transform: translateX(0%) translateY(calc(0% - 0px));
    }

    .header.scroll_up {
        transform: translateX(0%) translateY(0);
    }

    .header.active {
        left: 0;
        transform: translateX(0);
    }

    .logo_container {
        display: none;
    }

    .menu {
        flex-direction: column;
    }

    .menu_link {
        font-size: 2rem;
    }
}

@media screen and (max-width: 990px) {
    .how_we_work_sticky {
        display: none;
    }

    .how_we_work_steps {
        width: 80%;
    }
}

@media screen and (max-width: 904px) {
    .section_banner {
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .title,
    .description {
        width: 94%;
        text-align: center;
    }
}

@media screen and (max-width: 904px) {
    .ready {
        flex-direction: column;
        gap: 24px;
    }

    .ready_btn {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 680px) {
    .banner_btn_container {
        width: 94%;
    }
}

@media screen and (max-width: 680px) {
    .banner_btn_container {
        width: 94%;
    }
}

@media screen and (max-width: 500px) {
    .slider_works_arrows_container {
        width: 100%;
        padding: 0 8px;
    }

    .slider_reviews_arrows_container {
        width: 100%;
        padding: 0 8px;
    }
}