.main {
    width: 100%;
    height: auto;
}

.section_banner {
    width: 100%;
    height: 100dvh;
    padding-top: 80px;
    min-height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_title {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 20%;
    padding-right: 4%;
    transform: translateY(0, -50%);
    z-index: 100;
    color: var(--color_white);
}

.banner_description {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 30%;
    padding-right: 4%;
    transform: translateY(0, -50%);
    z-index: 100;
    color: var(--color_light_blue);
}

.services {
    width: 94%;
    height: 100%;
    list-style: none;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.service {
    width: calc(100% / 4 - 20px);
    background: var(--color_white);
    border-radius: 14px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.service:first-child {
    height: 80%;
}

.service:nth-child(2) {
    height: 70%;
}

.service:nth-child(3) {
    height: 60%;
}

.service:last-child {
    height: 50%;
}

.service_tag {
    color: var(--color_dark_blue);
}

.service_price {
    color: var(--color_green);
}

.service_description {
    color: var(--color_dark_blue);
}

.service_examples {
    width: 100%;
    height: auto;
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.service_example {
    font-weight: bold;
}

.section_faq {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 10% 4%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.faq_item:first-child {
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.faq_item:last-child {
    width: 56%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}


.faq_tag {
    color: var(--color_white);
    opacity: .8;
}

.faq_title {
    color: var(--color_light_blue);
}

.faq_description {
    color: var(--color_white);
}

.faq_description_email {
    color: var(--color_light_blue);
    text-decoration: none;
}

.faqs {
    width: 100%;
    height: 100%;
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.faq {
    width: 100%;
    height: auto;
}

.faq_container {
    width: 100%;
    height: auto;
    margin: 6px 0;
}

.faq_question {
    color: var(--color_white);
    border-bottom: 2px solid var(--color_white_opacity);
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

.faq_answer {
    color: var(--color_white);
    margin-top: 10px;
}

@media screen and (max-width: 1300px) {
    .section_banner {
        height: auto;

        flex-direction: column;
        gap: 10px;
    }
    
    .banner_title, .banner_description {
        position: static;
        text-align: center;
        width: 100%;
        transform: translateY(0, 0);
    }

    .services {
        height: auto;
        margin-top: 40px;

        row-gap: 20px;
        flex-wrap: wrap;
    }

    .service {
        width: 320px;
    }

    .service:first-child, .service:nth-child(2),  .service:nth-child(3), .service:last-child {
        height: auto;
    }
}


@media screen and (max-width: 1000px) {
    .section_faq {
        flex-direction: column;
    }

    .faq_item:first-child, .faq_item:last-child {
        width: 100%;
    }
}
